<div class="message"
     data-sender-id="<%= sender_id %>"
     data-message-user-id="<%= message.user_id %>">
  <div class="message-bubble">
    <div class="message-content">
      <%= simple_format(message.content) %>
    </div>
    <div class="message-info">
      <span class="message-author"><%= message.user.username %></span>
      <span class="message-time"><%= message.created_at.strftime("%H:%M") %></span>
    </div>
  </div>
</div>
