<div class="container mt-5 mb-5 general-style p-4 rounded shadow text-center">
  <h1> Echanges</h1>
<% if @exchanges.any? %>
  <% @exchanges.each do |exchange| %>
  <div class="card mb-3">
    <div class="border p-3 rounded mb-2">
      <p><strong>Demandé par :</strong> <%= exchange.initiator.username %></p>
      <p><strong>Manga demandé :</strong> <%= exchange.wanted_manga.db_manga.title %></p>
      <p><strong>Status :</strong> <%= exchange.status %></p>
      <%= link_to 'Voir', exchange_path(exchange), class: "btn btn-light" %>
    </div>
    </div>
  <% end %>
<% else %>
  <p>Aucune demande d’échange.</p>
<% end %>
</div>
<div class="container mt-4 mb-5 general-style p-4 rounded shadow">
  <h2 class="text-center mb-4">Calendrier des échanges</h2>

<%= month_calendar events: @scheduled_exchanges do |exchange| %>
  <% if exchange.is_a?(Exchange) %>
    <div class="event p-2 border rounded mb-1">
      <strong>Avec :</strong> <%= exchange.recipient == current_user ? exchange.initiator.username : exchange.recipient.username %><br>
      <strong>Manga :</strong> <%= exchange.wanted_manga.db_manga.title %><br>
      <%= link_to "Voir l’échange", exchange_path(exchange), class: "btn btn-sm btn-outline-primary mt-1" %>
    </div>
  <% end %>
<% end %>
