<div class="general-style">
  <div class="container mt-4">
    <!-- Si il y a des échanges -->
    <% if @exchanges.any? %>
      <div class="text-center my-2 mb-">
        <%= link_to "Voir mon calendrier", "/calendar", class: "btn btn-manga-primary"%>
      </div>
      <% @exchanges.sort_by(&:created_at).reverse.each do |exchange| %>
        <%= link_to exchange_path(exchange), class: "text-decoration-none text-light" do %>
          <div class="card shadow-sm d-flex flex-row align-items-center justify-content-between gap-3 mb-4">
            <div class="d-flex flex-row align-items-center">
              <!-- Afficher image de manga -->
              <% if exchange.wanted_manga.db_manga.image_url.present? %>
                <%= image_tag exchange.wanted_manga.db_manga.image_url, class: "img-cover-fixed", alt: exchange.wanted_manga.db_manga.title %>
              <% else %>
                <div class="manga-thumb d-flex align-items-center justify-content-center bg-light">
                  <i class="fas fa-book fa-2x text-muted"></i>
                </div>
              <% end %>

              <!-- Afficher image de manga -->
              <div class="p-3 rounded pe-1">
                <h5><%= exchange.wanted_manga.db_manga.title %></h5>
                <p class="mb-1"><i class="fa-solid fa-user"></i>  <%= exchange.initiator.username %></p>

                <!-- Afficher la date -->
                <% if exchange.scheduled_at.present? %>
                  <p class="mb-1"><i class="fa-solid fa-calendar"></i>  <%= l(exchange.scheduled_at.to_date)%></p>
                <% else %>
                  <p class="mb-1"><i class="fa-solid fa-calendar"></i> Sélectionne une date</p>
                <% end %>

                <!-- Afficher le status -->
                <% if exchange.status == 'accepted' %>
                  <p class="badge bg-success"><%= exchange.status.humanize %></p>
                <% elsif exchange.status == 'pending' %>
                  <p class="badge bg-secondary"><%= exchange.status.humanize %></p>
                <% elsif exchange.status == 'refused' %>
                  <p class="badge bg-danger"><%= exchange.status.humanize %></p>
                <% else %>
                  <p class="badge bg-dark"><%= exchange.status.humanize %></p>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <!-- Si aucun échange -->
    <% else %>
      <p>Aucune demande d’échange.</p>
    <% end %>
  </div>
</div>
