<div class="general-style">
  <div class="container mt-4">
    <% if @exchanges.any? %>
      <% @exchanges.each do |exchange| %>
      <div class="card shadow-sm d-flex flex-row align-items-center justify-content-between gap-3 mb-4">
        <div class="d-flex flex-row align-items-center">
          <% if exchange.wanted_manga.db_manga.image_url.present? %>
            <%= image_tag exchange.wanted_manga.db_manga.image_url, class: "img-cover-fixed", alt: exchange.wanted_manga.db_manga.title %>
          <% else %>
            <div class="manga-thumb d-flex align-items-center justify-content-center bg-light">
              <i class="fas fa-book fa-2x text-muted"></i>
            </div>
          <% end %>
          <div class="p-3 rounded">
            <h5><%= exchange.wanted_manga.db_manga.title %></h5>
            <p><i class="fa-solid fa-user"></i> <%= exchange.initiator.username %></p>
            <% if exchange.status == 'accepted'%>
              <p class="badge rounded-pill bg-success"><%= exchange.status %></p>
            <% elsif exchange.status == 'refused'%>
              <p class="badge rounded-pill bg-danger"><%= exchange.status %></p>
            <% else %>
              <p class="badge rounded-pill bg-secondary"><%= exchange.status %></p>
            <% end %>
          </div>
        </div>
        <div>
          <%= link_to raw('<i class="fa-solid fa-chevron-right"></i>'), exchange_path(exchange), class: "btn btn-secondary-mankai" %>
        </div>
      </div>
      <% end %>
    <% else %>
      <p>Aucune demande d’échange.</p>
    <% end %>
  </div>
</div>
<div class="container mt-4 mb-5 general-style p-4 rounded shadow">
  <h2 class="text-center mb-4">Calendrier des échanges</h2>

<%= month_calendar events: @scheduled_exchanges do |exchange| %>
  <% if exchange.is_a?(Exchange) %>
    <div class="event p-2 border rounded mb-1">
      <strong>Avec :</strong> <%= exchange.recipient == current_user ? exchange.initiator.username : exchange.recipient.username %><br>
      <strong>Manga :</strong> <%= exchange.wanted_manga.db_manga.title %><br>
      <%= link_to "Voir l’échange", exchange_path(exchange), class: "btn btn-sm btn-outline-primary mt-1" %>
    </div>
  <% end %>
<% end %>
