<h1>Mes échanges</h1>

<% @exchanges.each do |exchange| %>
  <div class="exchange-card">
    <h3>
      <%= link_to "Échange ##{exchange.id}", exchange_path(exchange) %>
    </h3>
    <p>
      Demandeur : <%= exchange.initiator.username %><br>
      Destinataire : <%= exchange.recipient.username %><br>
      Manga souhaité : <%= exchange.wanted_manga.db_manga.title %>
    </p>
    <p>Status : <%= exchange.status.humanize %></p>
  </div>
<% end %>
