<div class="container">
  <div class="general-style">
    <h1>Détail de l'échange</h1>

    <p><strong>Demandeur :</strong> <%= @exchange.initiator.username %></p>
    <p><strong>Destinataire :</strong> <%= @exchange.recipient.username %></p>
    <p><strong>Manga souhaité :</strong> <%= @exchange.wanted_manga.db_manga.title %></p>

    <% if @exchange.offered_manga %>
      <p><strong>Manga proposé :</strong> <%= @exchange.offered_manga.db_manga.title %></p>
    <% end %>

    <p><strong>Message initial :</strong> <%= @exchange.initial_message %></p>
    <p><strong>Status :</strong> <%= @exchange.status.humanize %></p>

    <% if @exchange.status == "accepted" && (@exchange.initiator == current_user || @exchange.recipient == current_user) %>
      <div class="mt-3">
        <h5>📅 Proposer ou modifier la date d’échange</h5>

        <%= form_with model: @exchange, url: set_date_exchange_path(@exchange), method: :patch, local: true do |f| %>
          <div class="mb-2">
            <%= f.label :scheduled_at, "Date de l'échange" %>
            <%= f.date_field :scheduled_at, class: "form-control", value: @exchange.scheduled_at %>
          </div>
          <%= f.submit "Enregistrer la date", class: "btn btn-success" %>
        <% end %>
      </div>
    <% end %>

    <% if @exchange.scheduled_at.present? %>
      <p class="mt-3"><strong>📅 Échange prévu le :</strong> <%= l(@exchange.scheduled_at, format: :long) %></p>
    <% else %>
      <p class="mt-3"><em>Aucune date d’échange prévue pour le moment.</em></p>
    <% end %>

    <% if @exchange.recipient == current_user %>
      <p>
        <%= button_to "Accepter", update_status_exchange_path(@exchange, status: "accepted"), method: :patch, class: "btn btn-success" %>
      </p>
      <p>
        <%= button_to "Refuser", update_status_exchange_path(@exchange, status: "refused"), method: :patch, class: "btn btn-danger" %>
      </p>
    <% end %>

    <% if @exchange.status == "accepted" %>
      <% if @exchange.chat.present? %>
        <%= link_to "Ouvrir le chat", chat_path(@exchange.chat), class: "btn btn-info" %>
      <% else %>
        <%= button_to "Démarrer un chat", start_chat_exchange_path(@exchange), method: :post, class: "btn btn-primary" %>
      <% end %>
    <% end %>


    <%= link_to "Supprimer l'échange", exchange_path(@exchange), method: :delete, class: "btn btn-danger", data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer cet échange ?" } %>

    <%= link_to "Choisir un manga en échange", edit_exchange_path(@exchange), class: "btn btn-primary" %>
    <%= link_to "Retour aux échanges", exchanges_path, class: "btn btn-secondary-mankai" %>
  </div>
</div>
