<div class="general-style">
  <div class="container mt-4">
    <div class="card  mb-4">
      <h5>Mangas en jeu</h5>
        <div class="d-flex flex-row align-items-center justify-content-evenly gap-3">
        <div class="d-flex flex-row align-items-center">
          <%= image_tag @exchange.wanted_manga.db_manga.image_url, class: "img-cover-fixed", alt: @exchange.wanted_manga.db_manga.title %>
        </div>
      <% if @exchange.offered_manga %>
        <h1> VS </h1>
        <div class="d-flex flex-row align-items-center">
          <%= image_tag @exchange.offered_manga.db_manga.image_url, class: "img-cover-fixed", alt: @exchange.offered_manga.db_manga.title  %>
        </div>
      <% else %>
        <div>
        <div class="mb-4"><%= link_to "Choisir un manga", edit_exchange_path(@exchange), class: "btn btn-manga-primary" %></div>
        <%= button_to "Refuser l'échange", update_status_exchange_path(@exchange, status: "refused"), method: :patch, class: "btn btn-manga btn-danger" %>
        </div>
      <% end %>
    </div>
    </div>

    <div class="card mb-4">
      <!-- Nom et message -->
      <h5>Détails</h5>
      <p class="mb-1"><i class="fa-solid fa-user"></i>  <%= @exchange.initiator.username %></p>
      <p class="mb-1"><i class="fa-solid fa-message"></i> <%= @exchange.initial_message %></p>

      <% if @exchange.scheduled_at.present? %>
        <p class="mb-1"><strong>Échange prévu le :</strong> <%= l(@exchange.scheduled_at, format: :long) %></p>
      <% else %>
        <p class="mb-1"><i class="fa-solid fa-calendar"></i> Aucune date prévue !</p>
      <% end %>

      <!-- Afficher le status -->
      <div class="my-0">
      <% if @exchange.status == 'accepted' %>
        <p class="badge  bg-success"><%= @exchange.status.humanize %></p>
      <% elsif @exchange.status == 'pending' %>
        <p class="badge  bg-secondary"><%= @exchange.status.humanize %></p>
      <% elsif @exchange.status == 'refused' %>
        <p class="badge  bg-danger"><%= @exchange.status.humanize %></p>
      <% else %>
        <p class="badge  bg-dark"><%= @exchange.status.humanize %></p>
      <% end %>
      </div>
    </div>

      <!-- Date -->
      <% if @exchange.status == "accepted" && (@exchange.initiator == current_user || @exchange.recipient == current_user) %>
        <div class="card">
          <% if @exchange.scheduled_at.present?%>
            <h5>Modifie la date d’échange</h5>
          <% else %>
            <h5>Choisis la date d’échange</h5>
          <% end %>
          <%= form_with model: @exchange, url: set_date_exchange_path(@exchange), method: :patch, local: true do |f| %>
            <div class="mb-2">
              <%= f.date_field :scheduled_at, class: "form-control", value: @exchange.scheduled_at %>
            </div>
            <%= f.submit "Enregistrer la date", class: "btn btn-manga-primary" %>
          <% end %>
        </div>
      <% end %>

    <!-- Boutons -->
    <div class="text-center my-4">
      <% if @exchange.status == "pending" && @exchange.recipient != current_user%>
        <%= link_to "Discuter de l'échange", chat_path(@exchange.chat), class: "btn btn-manga btn-info" %>
      <% elsif @exchange.status == "pending" && @exchange.recipient == current_user%>
        <%= link_to "Discuter de l'échange", chat_path(@exchange.chat), class: "btn btn-manga btn-info" %>
      <% end %>

      <% if @exchange.status == "accepted" && @exchange.scheduled_at.present? && @exchange.scheduled_at < Date.today %>
      <div class= "text-center mt-4">
          <%= button_to "Valider l'échange", update_status_exchange_path(@exchange, status: "completed"), method: :patch, class: "btn btn-manga btn-success" %>
      </div>
      <% end %>
      <div class="mt-2">
        <%= link_to "Supprimer l'échange", exchange_path(@exchange), method: :delete, class: "btn btn-manga-secondary btn-text-danger", data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer cet échange ?" } %>
      </div>
    </div>
  </div>
</div>



<!-- si le user propose l'échange et c'est pending -- pas de boutons -->
<!-- si l'autre user recoit l'échange, il doit choisir un manga -- bouton choisir ou bouton refuser -->
<!-- si le user choisi un manga -- demande accepté -->
<!-- si demande accepté -- proposer une date et ouvrir le chat -->
