<nav class="navbar navbar-expand-lg navbar-mobile-bottom navbar-lewagon bg-grey">
  <div class="container-fluid container">
    <%# <%= link_to "/", class: "navbar-brand" do %>
      <%# <%= image_tag "https://ik.imagekit.io/oc2ow6e7b/manga.png?updatedAt=1749708375417" %>
      <%# <span class="navbar-brand">ManKai</span> %>
    <%# <% end %>

    <%# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> %>
      <%# <span class="navbar-toggler-icon"></span> %>
    <%# </button> %>

    <%# <div class="collapse navbar-collapse" id="navbarSupportedContent"> %>
      <ul class="navbar-nav d-flex flex-row justify-content-between">
        <% if user_signed_in? %>
          <li class="nav-item active flex-fill text-center">
            <%= link_to raw('<i class="fa-solid fa-house"></i> <p>Accueil</p>'), "/", class: "nav-link" %>
          </li>
          <li class="nav-item flex-fill text-center">
            <%= link_to raw('<i class="fa-solid fa-book"></i> <p>Mangathèque</p>'), "/user_collections", class: "nav-link" %>
          </li>
          <li class="nav-item flex-fill text-center">
            <%= link_to raw('<i class="fa-solid fa-rotate"></i> <p>Echange</p>'), "/exchanges", class: "nav-link" %>
          </li>
          <li class="nav-item flex-fill text-center">
            <%= link_to raw('<i class="fa-solid fa-user"></i> <p>Profil</p>'), "/users/edit", class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    <%# </div> %>
  </div>
</nav>
