<div class="landing-general-style">
  <div class="container mt-4">
    <!-- Chat bot -->
    <div class="chat-bot-card">
      <div class="d-flex justify-content-start align-items-center">
        <%= link_to chatbots_path, class: "avatar-chat-bot me-3" do %>
        <%= image_tag "https://ik.imagekit.io/oc2ow6e7b/f3bb2be2649c409a247f0a6d866281e8bb44aae0_hq.jpg", class: "avatar-chat-bot", alt: "chat-bot" %>
        <% end %>
        <div class="d-flex flex-column align-items-start">
          <h5> Discute avec Light </h5>
          <p> Ton meilleur ami expert en manga est là pour t’inspirer </p>
        </div>
      </div>
    </div>

  <!-- Suggestions mangas en sample de 4 -->
  <div class="row g-4 my-4">
    <h3 class="d-flex row justify-content-between"> Nos suggestions <span> <%= link_to "Chercher un manga", db_mangas_path, class: "btn btn-manga-primary"%> </span></h3>
    <% dbmangas = @dbmangas.sample(4) %>
    <% dbmangas.each do |manga| %>
      <div class="col-12 col-sm-6 col-md-6 col-lg-4">
        <%= link_to db_manga_path(manga), class: "text-decoration-none" do %>
          <div class="manga-card card h-100 shadow-sm d-flex flex-row align-items-start gap-3">
              <% if manga.image_url.present? %>
                <%= image_tag manga.image_url, class: "img-cover-fixed", alt: manga.title %>
              <% else %>
                <div class="manga-thumb d-flex align-items-center justify-content-center bg-light">
                  <i class="fas fa-book fa-2x text-muted"></i>
                </div>
              <% end %>


            <div class="flex-grow-1">
              <div class="card-body p-0">
                <h5 class="mb-1" title="<%= manga.title %>">
                <% if manga.title.present? %>
                  <%= manga.title %>
                <% else %>
                  <%= manga.author %>
                <% end %>
                </h5>
                <% if manga.genre.present? %>
                  <p class=" small mb-0">
                    <i class="fas fa-tag me-1"></i><%= manga.genre %>
                  </p>
                <% end %>
              </div>
            </div>

          </div>
        <% end %>
      </div>
    <% end %>
  </div>
    <div class="mb-5">
      <br>
      <br>
    </div>
  </div>
</div>
