<div class="general-style">
  <div class="container d-flex justify-content-center flex-column mt-4">
      <% if @available_owned_mangas.any? %>
      <p class="text-center">Liste des utilisateurs possédant le manga <strong><%= @db_manga.title %></strong></p>
      <% @available_owned_mangas.each do |owned| %>
        <div class="card">
          <p><strong><%= owned.user_collection.user.username %></strong></p>
          <p>État : <%= owned.state %></p>
          <p>Note : <%= owned.condition_notes %></p>

          <div class="container text-center">
          <% if current_user.can_request_exchange_for?(owned) %>
            <%= link_to new_exchange_path(wanted_manga_id: owned.id), class: "btn btn-red" do%>
            <i class="fas fa-sync"></i>
            <span>Proposer un échange</span>
            <% end %>

          <% else %>
          <p><em>Échange non disponible</em></p>
          <% end %>
          </div>
      </div>
      <% end %>
        <% else %>
        <p class="text-center">Aucun utilisateur ne propose ce manga actuellement.</p>
      <% end %>
  </div>
</div>
