
  <div class="general-style">
    <!-- Search bar-->
    <div class="container">
    <div class="row justify-content-center">
      <div class=" mt-4">
        <%= form_with url: db_mangas_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
                params[:query],
                class: "form-control input-on-surface",
                placeholder: "Que recherches-tu ?"
            %>
          <%= button_tag type: "submit", class: "btn btn-red ms-2", name: "" do %>
          <i class="fas fa-search"></i>
          <% end %>
        <% end %>
      </div>
    </div>
    </div>

  <!-- Grid container pour les cards -->
  <div class="container">
    <div class="row g-4 my-4">
      <% @dbmangas.each do |manga| %>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
          <%= link_to db_manga_path(manga), class: "text-decoration-none" do %>
            <div class="manga-card card h-100 shadow-sm d-flex flex-row align-items-start gap-3">
                <% if manga.image_url.present? %>
                  <%= image_tag manga.image_url, class: "img-cover-fixed", alt: manga.title %>
                <% else %>
                  <div class="manga-thumb d-flex align-items-center justify-content-center bg-light">
                    <i class="fas fa-book fa-2x text-muted"></i>
                  </div>
                <% end %>


              <div class="flex-grow-1">
                <div class="card-body p-0">
                  <h5 class="mb-1" title="<%= manga.title %>">
                  <% if manga.title.present? %>
                    <%= manga.title %>
                  <% else %>
                    <%= manga.author %>
                  <% end %>
                  </h5>
                  <% if manga.genre.present? %>
                    <p class=" small mb-0">
                      <i class="fas fa-tag me-1"></i><%= manga.genre %>
                    </p>
                  <% end %>
                </div>
              </div>

            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="container text-center">
    <nav class="nav-page pb-2">
    <%== pagy_nav(@pagy) %>
  </nav>
  </div>
