<div class="general-style">
  <div class="container">
    <h1><%= @chatbot.title.presence || "Chat sans titre" %></h1>

    <div class="messages mt-4 mb-5">
      <% @messages.each do |message| %>
        <div class="message mb-3 <%= message.role == "user" ? 'user-msg' : 'bot-msg' %>">
       <strong>
  <% if message.role == "Light" %>
    <img src="https://ik.imagekit.io/oc2ow6e7b/f3bb2be2649c409a247f0a6d866281e8bb44aae0_hq.jpg"
         alt="Light"
         class="avatar py-4">
    <span class="text-orange">Light :</span>
  <% else %>
    <% if current_user.respond_to?(:avatar) && current_user.avatar.present? %>
      <img src="<%= current_user.avatar %>"
           alt="<%= current_user.username %>"
           class="avatar py-4">
    <% end %>
    <span class="text-orange">
      <%= current_user.username.present? ? current_user.username : "Moi" %>
      :
    </span>
  <% end %>
</strong>
          <p><%= raw(message.content) %></p>
        </div>
      <% end %>
    </div>

    <%= form_with(model: [@chatbot, @messagebot], local: true) do |form| %>
      <div class="mb-3">
        <%= form.label :content, "Ta question :", class: "form-label" %>
        <%= form.text_area :content, rows: 3, class: "form-control", placeholder: "Pose ta question..." %>
      </div>

      <%= form.submit "Envoyer", class: "btn btn-red" %>
    <% end %>
  </div>
</div>
